* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.cards {
  background-image: url(./images/bg-main-mobile.png);
}
.card-back {
  width: 76%;
  margin: 1.7rem 0rem 1rem 4.2rem;
}
.cvc {
  margin-left: 17rem;
  margin-top: -6rem;
  font-size: 0.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
}
.card-front {
  width: 76%;
  margin-top: 0.6rem;
  margin-left: 1rem;
}
.card-info {
  margin-top: -8.1rem;
  margin-left: 2.3rem;
}
.logo {
  width: 3rem;
}
.card-name {
  font-size: 0.6rem;
}
.card-info {
  color: #fff;
}

.number {
  margin-top: 1.7rem;
  letter-spacing: 0.1rem;
}
.card-date-name {
  margin-top: 0.8rem;
  display: flex;
}
.date-expire {
  font-size: 0.6rem;
  margin-left: 7rem;
}
.form {
  margin-top: 3.6rem;
  margin-left: 1.4rem;
}
label {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
input {
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
  padding-left: 0.8rem;
  width: 92%;
  height: 2.3rem;
  border: solid 1px rgb(128, 128, 128, 0.5);
  border-radius: 0.5rem;
}
.date-cvc {
  display: flex;
}
.exp-date {
  width: 58%;
  height: 6rem;
  letter-spacing: 0.15rem;
}
.exp-date input {
  width: 27%;
}
.cvc-form {
  margin-left: -2.2rem;
  width: 42%;
}
.cvc-form input {
  width: 100%;
}
.confirm {
  margin-top: -0.4rem;
  width: 92%;
  height: 2.7rem;
  color: white;
  background-color: black;
  border-radius: 0.5rem;
}
.complete-section {
  display: none;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}
