* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
.card-back-head {
  background-image: url(./images/bg-main-mobile.png);
}
.card-back {
  width: 80%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.complete-section {
  display: none;
}
